@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box; /* doesn't affect the padding and margin */
}

body {
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 98%);
}

header {
  margin: 50px auto; /* centers the text onto the page with some margin at the top/bottom */
  max-width: 500px;
  text-align: center;
  justify-content: center;
}

h1 {
  font-weight: 200;
  margin: 0; /* move the h1 closer to each other */
}

span {
  font-weight: 600; /* text is bolder with higher font-weight compared to the h1 */
}

h3 {
  font-weight: 400;
}

p {
  color: hsl(229, 6%, 66%);
}

.container {
  display: flex; /* or inline-flex */
  margin: 0 auto; /* so it goes the center */
  max-width: 1120px; /* I used an image preview and that shows the width */
}

.box {
  background-color: white;
  padding: 30px;
}
